/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('reparaciones_background.jpg');
    background-size: cover;
    background-repeat: repeat;
    min-height: 100vh;
    position: relative;
    background-color: rgba(242, 242, 242, 0.3); /* Fondo semi-transparente */
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

/* Título */
h1 {
    font-size: 24px;
    margin: 40px 0 0 0;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    transform: skew(-5deg);
    display: inline-block;
    color: #ff7f00; /* Texto en color naranja */
}

/* Logo */
.logo {
    position: absolute;
    top: 10px;
    left: 20px;
}

.logo img {
    width: 100px;
    height: auto;
}

/* Main */
main {
    padding: 20px;
    padding-bottom: 60px;
}

/* Contenedor de botones */
.button-container {
    text-align: center;
}

/* Estilos para los botones */
.button,
input[type="submit"] {
    display: inline-block;
    padding: 5px 10px; /* Relleno reducido */
    margin: 5px; /* Ajustar margen */
    background-color: #808080; /* Color gris */
    color: #fff; /* Texto blanco */
    text-decoration: none;
    border-radius: 10px; /* Bordes redondeados */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px; /* Tamaño de fuente */
    min-width: auto; /* Eliminar el ancho mínimo */
    text-align: center; /* Alinear texto al centro */
}

.button:hover,
input[type="submit"]:hover {
    background-color: #4e4a47;
    border-color: #b5aeae;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1; /* Asegura que el footer esté encima de otros elementos */
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    color: #fff; /* Texto en color blanco */
    background-color: #ff7f00; /* Fondo en color naranja */
}

th {
    background-color: #333; /* Cabecera de la tabla en color gris oscuro */
}

/* Estilos para los botones de acciones */
.actions {
    display: flex;
    align-items: center;
}

.actions form,
.actions button {
    margin-right: 10px;
}

.actions button:hover {
    background-color: #ff7f00;
}

/* Estilos para los input de estado y trabajador */
input[name="nuevo_estado"],
select[name="nuevo_trabajador"] {
    padding: 5px;
    margin-right: 10px; /* Añadir un poco de espacio entre los input */
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Ajustar el ancho de las columnas de la tabla */
th:nth-child(5), /* Columna de estado */
td:nth-child(5), /* Columna de estado */
th:nth-child(6), /* Columna de trabajador asignado */
td:nth-child(6) { /* Columna de trabajador asignado */
    width: auto; /* Ajustar al contenido */
}

/* Estilos responsivos para tabletas y móviles */
@media only screen and (max-width: 768px) {
    header {
        padding: 10px;
    }
    h1 {
        font-size: 20px;
    }
    .logo img {
        width: 80px;
    }
    main {
        padding: 10px;
    }
    .button,
    input[type="submit"] {
        padding: 3px 8px; /* Relleno reducido */
        font-size: 12px; /* Tamaño de fuente */
    }
    .pagination-container {
        bottom: 40px;
    }
}

