/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url('reparaciones_background.jpg');
    background-size: cover;
    background-repeat: repeat;
    min-height: 100vh;
    position: relative;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

/* Título */
h2 {
    font-size: 24px;
    margin: 20px 0;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    transform: skew(-5deg);
    display: inline-block;
    color: #ff7f00;
}

/* Logo */
.logo img {
    width: 100px;
    height: auto;
}

/* Logo */
.logo {
    position: absolute;
    top: 10px; /* Margen superior */
    left: 10px; /* Margen izquierdo */
    max-width: 80px; /* Ancho máximo del logo */
    max-height: 80px; /* Altura máxima del logo */
}

.logo img {
    width: 100%;
    height: auto;
}

/* Main */
main {
    padding: 20px; /* Ajuste del relleno */
    padding-bottom: 60px; /* Ajuste del relleno inferior */
}

/* Contenedor de botones */
.button-container {
    text-align: center;
}

/* Estilos para los botones */
.button,
input[type="submit"] {
    display: inline-block;
    padding: 10px 20px; /* Relleno */
    margin: 10px; /* Margen */
    background-color: #808080; /* Color de fondo gris */
    color: #ffffff; /* Texto en color blanco */
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px; /* Tamaño de fuente */
    text-align: center;
}

.button:hover,
input[type="submit"]:hover {
    background-color: #4e4a47;
}

/* Pie de página */
/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px; /* Ajuste del relleno */
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0; /* Ajuste para asegurarse de que el footer comience desde el borde izquierdo */
    z-index: 1; /* Asegura que el footer esté encima de otros elementos */
}



/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Margen superior */
}

th, td {
    border: 1px solid #ccc;
    padding: 5px; /* Relleno */
    text-align: center;
    color: #fff; /* Texto en color blanco */
    background-color: #ff7f00; /* Fondo en color naranja */
}

th {
    background-color: #333; /* Cabecera de la tabla en color gris oscuro */
}

/* Estilos para los botones de acciones */
.actions {
    display: flex;
    align-items: center;
}

.actions form,
.actions button {
    margin-right: 10px; /* Margen derecho */
}

.actions button:hover {
    background-color: #ff7f00;
}

/* Estilos para los input de estado y trabajador */
input[name="nuevo_estado"],
select[name="nuevo_trabajador"] {
    padding: 5px; /* Relleno */
    margin-right: 5px; /* Margen derecho */
    border-radius: 3px; /* Bordes redondeados */
    border: 1px solid #ccc;
}

/* Ajustar el ancho de las columnas de la tabla */
th:nth-child(5), /* Columna de estado */
td:nth-child(5), /* Columna de estado */
th:nth-child(6), /* Columna de trabajador asignado */
td:nth-child(6) { /* Columna de trabajador asignado */
    width: auto; /* Ajustar al contenido */
}

/* Estilos responsivos para tabletas y móviles */
@media only screen and (max-width: 768px) {
    header {
        padding: 40px; /* Ajuste del relleno */
    }
    h2 {
        font-size: 4vw; /* Tamaño de fuente ajustado */
        margin-top: 2vw; /* Margen superior */
    }
    .logo {
        top: 4vw; /* Margen superior */
        left: 4vw; /* Margen izquierdo */
        max-width: 15vw; /* Ancho máximo del logo */
        max-height: 15vw; /* Altura máxima del logo */
    }

    main {
        padding: 4vw; /* Ajuste del relleno */
        padding-bottom: 12vw; /* Ajuste del relleno inferior */
    }

    .button,
    input[type="submit"] {
        padding: 2vw 4vw; /* Relleno */
        font-size: 2vw; /* Tamaño de fuente ajustado */
    }
}
