/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url('reparaciones_background.jpg');
    background-size: cover;
    background-repeat: repeat;
    min-height: 100vh;
    position: relative;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

/* Título */
h2 {
    font-size: 24px;
    margin: 20px 0;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    transform: skew(-5deg);
    display: inline-block;
    color: #ff7f00;
}

/* Logo */
.logo img {
    width: 100px;
    height: auto;
}

/* Contenedor del formulario */
.container {
    margin: 50px auto; /* Centrar verticalmente */
    width: 80%;
    max-width: 600px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Etiqueta del formulario */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Input del formulario */
input[type="text"],
input[type="email"] {
    width: calc(100% - 22px);
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
}

/* Botón del formulario */
input[type="submit"] {
    width: calc(50% - 40px); /* Ancho dividido en dos */
    padding: 8px; /* Reducción del relleno */
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right; /* Alinear a la derecha */
}

/* Botón de Inicio */
.button-home {
    width: calc(50% - 40px); /* Ancho dividido en dos */
    padding: 8px; /* Reducción del relleno */
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: left; /* Alinear a la izquierda */
}

input[type="submit"]:hover,
.button-home:hover {
    background-color: #555;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
